/*! purgecss start ignore */
@use "sass:color";

$main-bg-color: #141313;
$main-text-color: rgb(228, 227, 233);
$body-text-color: #dfdfdf;
$muted-text-color: #a2a0aa;

$brand-red: #2c061f;
$brand-lighter-red: #401313;
$brand-grey: #374045;
$brand-orange: #d89216;
$brand-yellow: #e1d89f;
$brand-darkyellow: #8e8965;
$brand-offwhite: #dedede;

$border-offwhite: rgb(59, 59, 59);

$brand-logo: "Bebas Neue", sans-serif;
$brand-main: "Lato", sans-serif;
$brand-secondary: "Roboto Condensed", sans-serif;
$brand-heading: "Lato", sans-serif;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$scrollbar-width: 5px;

//================================================================================
// SECTION Mixins
//================================================================================

@mixin link-yellow {
    color: white;
    transition: color 0.3s 0s;

    &:hover {
        color: $brand-yellow;
    }
}

@mixin blueglow-override {
    border-color: rgba($color: $brand-orange, $alpha: 0.5) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($color: $brand-orange, $alpha: 0.5) !important;
    outline: 0 none !important;
}

//================================================================================
// !SECTION Mixins
//================================================================================

//================================================================================
// SECTION Bootstrap overrides
//================================================================================

html {
    scroll-behavior: smooth;
}

::selection {
    background: $brand-orange;
}

.navbar {
    &-attop {
        padding: 1rem 0;
        border-bottom: 1px solid transparent;
        transition: 0.4s;
    }

    &-atbelow {
        padding: 0.5rem 0;
        border-bottom: 1px solid $border-offwhite;
        transition: padding 0.4s, border 0.2s;
    }
}

.navbar-brand {
    &-logo {
        font-family: $brand-logo;
        font-size: 1.5rem;
        user-select: none;
        transition: transform 0.2s ease-in-out;
    }

    &-dot {
        color: $brand-orange;
        font-size: 2rem;
        line-height: 0;
        user-select: none;
    }

    &-logo:hover {
        transform: rotate(2deg) scale(1.2);
    }
}

.nav-link {
    font-family: $brand-secondary;
    font-size: 1.1rem;
    line-height: 1rem;

    @media screen and (min-width: $bp-md) {
        margin-left: 1.4rem;
    }

    @media screen and (max-width: $bp-md) {
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &-nogap {
        font-family: $brand-secondary;
        font-size: 1.1rem;
    }
}

.dropdown-item {
    &:hover {
        background-color: inherit !important;
    }
}

.form-dark {
    color: rgb(240, 240, 240) !important;
    background-color: rgb(28, 28, 28) !important;
    border-color: rgb(88, 88, 88) !important;
}

// Blue glow override
$input-attrs: "text", "password", "datetime", "datetime-local", "date", "month", "time", "week", "number", "email", "url", "search", "tel", "color",
    "checkbox", "file";

textarea:focus,
select:focus,
.btn-glow:active,
.btn-glow:visited,
.btn-glow:focus,
.uneditable-input:focus {
    @include blueglow-override;
}

@each $attr in $input-attrs {
    input[type="#{$attr}"]:focus {
        @include blueglow-override;
    }
}

.pagination {
    & .page-item {
        &.active a {
            color: $brand-red !important;
            background-color: $brand-yellow !important;
            border-color: $brand-yellow !important;
        }
    }
    & .page-link {
        &:focus,
        &:active {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($color: $brand-orange, $alpha: 0.5) !important;
        }
        color: white;
    }
}

//================================================================================
// !SECTION Bootstrap overrides
//================================================================================

//================================================================================
// SECTION Globals
//================================================================================

// SECTION Scrollbar
::-webkit-scrollbar {
    & {
        height: $scrollbar-width;
        width: $scrollbar-width;
    }

    &-track {
        background-color: color.adjust($brand-orange, $lightness: -20%);
    }

    &-thumb {
        background-color: $brand-yellow;
        border-radius: 3px;
    }

    &-thumb:hover {
        background-color: color.adjust($brand-yellow, $lightness: -10%);
    }
}

:root {
    scrollbar-gutter: stable;
}
// !SECTION Scrollbar

// SECTION Pin footer down
body > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
// !SECTION Pin footer down

//================================================================================
// !SECTION Globals
//================================================================================

//================================================================================
// SECTION Colors
//================================================================================

body {
    background-color: $main-bg-color;
    color: $main-text-color;
    overflow-x: hidden !important;
}

.bg-dark {
    background-color: $main-bg-color !important;
}

.dropdown-menu-dark {
    color: $main-text-color !important;
    background-color: color.adjust($main-bg-color, $lightness: 3%) !important;
    border: 1px solid $border-offwhite;
}

footer {
    background: linear-gradient(180deg, rgba(18, 18, 19, 1) 0%, #1d1203 100%);
}

//================================================================================
// !SECTION Colors
//================================================================================

//================================================================================
// SECTION Typography
//================================================================================

body {
    font-family: $brand-main;
    font-size: 1.05rem;
}

footer {
    font-family: $brand-secondary;
    line-height: normal;
}

.link-elegant {
    color: white;
    background: linear-gradient(to right, $brand-yellow, $brand-yellow);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s 0s, color 0.3s 0s;

    &:hover {
        color: $brand-red !important;
        background-size: 100% 100%;
    }

    &.active {
        color: $brand-red !important;
        background-color: $brand-yellow;
    }

    &-active {
        color: $brand-red;
        background-color: $brand-yellow;
    }
}

.text {
    &-muted {
        color: $muted-text-color !important;
    }
}

.border {
    &-muted {
        border-color: $muted-text-color !important;
    }
}

.button-elegant {
    color: white;
    transition: color 0.3s 0s, background-color 0.3s 0s, box-shadow 0.3s 0s;
    padding: 5px 8px;
    text-decoration-line: none;
    border-radius: 5px;
    border: 1px solid $brand-darkyellow;
    display: inline-block;
    user-select: none;

    &:hover {
        color: $brand-red !important;
        background-color: $brand-yellow;
        box-shadow: 0px 0px 8px 3px $brand-darkyellow;
    }

    &.active {
        color: $brand-red !important;
        background-color: $brand-yellow;
    }

    &-active {
        color: $brand-red;
        background-color: $brand-yellow;
    }
}

.link-yellow {
    @include link-yellow;
    &-special {
        text-decoration: none;
    }
}

.font {
    &-heading {
        font-family: $brand-heading;
    }

    &-highlighted {
        background-color: $brand-yellow;
        color: $brand-red;
        padding: 0 0.1rem;
    }
}

.inherit-font {
    font-family: inherit !important;
}

.paragraph-wrapper {
    &-main {
        > p {
            margin-bottom: 0.5rem !important;
            font-family: $brand-main;
            font-size: 1.1rem;
            color: $body-text-color;
        }
    }
}

//================================================================================
// !SECTION Typography
//================================================================================

//================================================================================
// SECTION Layout
//================================================================================

.mt-section {
    margin-top: 5rem;
}

//================================================================================
// !SECTION Layout
//================================================================================

//================================================================================
// SECTION Component-specific
//================================================================================

// Landing page "I Am Christopher Digno" custom breakpoint
.hide-on {
    &-title-break {
        @media (max-width: 375px) {
            display: none;
        }
    }
}

// Badge list items
@mixin badge-list {
    color: $brand-yellow;
    background-color: $brand-lighter-red;
    cursor: default;
}

@mixin badge-list-small {
    border-radius: 0.2rem;
    padding: 0.1rem 0.4rem;
    margin: 0.2rem;
    font-size: 0.95rem;
}

.badge-list-item {
    @include badge-list;
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    margin: 0.5rem;

    &-small {
        @include badge-list;
        @include badge-list-small;
    }

    &-light-small {
        border: 1px solid $brand-yellow;
        cursor: default;
        @include badge-list-small;
    }
}

// Socials bar animations

.social-bar-item {
    & ::before,
    & a {
        @media (min-width: $bp-xl) {
            color: $body-text-color;
            transition: all 0.2s ease-in-out;
        }
    }

    &:hover {
        & ::before,
        & a {
            @media (min-width: $bp-xl) {
                transform: scale(1.2);
                color: $brand-yellow;
            }
        }
    }
}

// Project page images
.project-img {
    & {
        transition: transform 0.2s ease-in-out;
    }
    &:hover {
        transform: scale(1.05);
    }
}

// Scrollable page anchor hack
.page-anchor {
    display: block;
    position: relative;
    top: -8rem;
    visibility: hidden;
}

// Hire Me decorative text spin
#hireme-spin {
    &:after {
        content: "";
        animation: spin 3s linear infinite;
    }
}

@keyframes spin {
    0%,
    100% {
        content: "company";
    }
    33% {
        content: "team";
    }
    66% {
        content: "project";
    }
}

// Blog
.blogpost-list-root {
    margin-bottom: 2rem;

    & .blogpost-list-entry {
        margin-bottom: 0.5rem;
    }
}

//================================================================================
// !SECTION Component-specific
//================================================================================

//================================================================================
// SECTION Blog Components
//================================================================================

section.blog-post {
    .container-special {
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
    }

    #title {
        font-family: $brand-logo;
        font-size: 3.5rem !important;
        line-height: 1;
    }

    #meta-section > div {
        font-family: $brand-secondary;
    }

    #content-section {
        font-family: $brand-secondary;
    }
}

//================================================================================
// !SECTION Blog Components
//================================================================================

/*! purgecss end ignore */
